:root {
  --ff-primary: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --fs-accent: 14px;
  --fs-text: 16px;
  --fs-big-text: 20px;
  --fs-small-title: 24px;
  --fs-big-title: 30px;
  --fs-very-big-title: 60px;
  --fw-primary: 400;
  --fw-secondary: 700;
  --fw-tertiary: 800;
  --clr-body-background: hsl(0, 0%, 100%);
  --clr-nav-background: hsl(225, 100%, 98%);
  --clr-card-background: hsl(227, 47%, 96%);
  --clr-card-background-hover: #e1e3f0;
  --clr-primary-text: hsl(0, 0%, 0%);
  --clr-secondary-text: hsl(228, 12%, 44%);
  --clr-tertiary-text: hsl(228, 34%, 66%);
  --clr-green: #1eb589;
  --clr-red: #dc414c;
}

[data-theme='dark'] {
  --clr-body-background: #17181b;
  --clr-nav-background: hsl(230, 17%, 14%);
  --clr-card-background: hsl(228, 28%, 20%);
  --clr-card-background-hover: #333a56;
  --clr-primary-text: hsl(0, 0%, 100%);
  --clr-secondary-text: hsl(228, 34%, 66%);
  --clr-tertiary-text: hsl(228, 12%, 44%);
  --clr-green: #1eb589;
  --clr-red: #dc414c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--ff-primary);
  background-color: var(--clr-body-background);
  color: var(--clr-primary-text);
  transition: background-color .4s;
}

input, button, textarea, select {
  font: inherit;
}

a, input, button {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.wrapper {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  flex-direction: inherit;
  flex-wrap: inherit;
  gap: inherit;
  z-index: inherit;
}

.wrapper-small {
  max-width: 900px;
}
